.row-sm-4
  .col-sm-3.mx-auto.justify-content-center
    .row.shadow-lg
      - if current_user.avatar.find { |a| a.id == current_user.avatar_id }.present?
        = image_tag current_user.avatar.variant(:thumb), class: 'p-0 rounded-circle img-fluid '
      - else
        = image_tag 'https://via.placeholder.com/300x300', alt: 'placeholder', class: 'p-0 rounded-circle img-fluid'
    .row.mx-auto
      - if current_user.has_right_to_generate_avatar
        %button.btn.btn-primary.border-0.rounded-5.shadow-lg.py-2.px-3.my-4{ type: "button", "data-bs-toggle" => "modal", "data-bs-target" => "#generateAvatarModal" }
          Generate Avatar

  = render 'students/generate_avatar_modal'