.card.border-0.bg-transparent
  .card-body.bg-transparent.pt-0 
    .card-header.bg-transparent
      %h3.text-center.m-3 Instruments 
      %table.table.table-striped.m-0
        %thead
          %tr
            %th Name
        %tbody      .p Add instruments form should be here