html {
  min-height: 100%
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
  }
}

.scaled-avatar-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}