html {
  min-height: 100%
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
  }
}


.resize-image-dashboard {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.scaled-avatar-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 6px solid #000;
}


.scaled-avatar-image:hover {
  cursor: pointer;  
  border: 8px solid; /* Change the border color or any other styling you prefer */
  transition: transform 0.1s ease;
}

.scaled-avatar-image:active {
  transform: scale(1.05);
  border-color: #0d6efd;
}

.selected-avatar {
  border-color: #0d6efd !important;
}

#current_avatar {
  background-color: black;
}

@media (max-width: 1150px) {
  .scaled-avatar-image {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1000px) {
  .resize-image-dashboard {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 950px) {
  .scaled-avatar-image {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 775px) {
  .scaled-avatar-image {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 675px) {
  .scaled-avatar-image {
    width: 100px;
    height: 100px;
  }
}

/* this is when it breaks on bootstrap*/
@media (max-width: 575px) {
  .scaled-avatar-image {
    width: 90%;
  }
}