-# %body{"data-stimulus-controller": "voice"}
-#   %span{"data-stimulus-action" => "click->voice#record", "data-stimulus-target" => "voice.startButton", style: "cursor: pointer; text-decoration: underline"}
-#     Start Recording