!!! 5
%html
  %head
    %title Page Title
    %meta{charset: "utf-8"}
  %body
    .buttons
      = link_to 'Add Task', teachers_dashboard_path, class: 'button add-task'
      = link_to 'Back', teachers_dashboard_path, class: 'button back'
